USE [master]
GO
/****** Object:  Database [InterviewCopilotAI]    Script Date: 19-05-2026 16:45:45 ******/
CREATE DATABASE [InterviewCopilotAI]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'InterviewCopilotAI', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\InterviewCopilotAI.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'InterviewCopilotAI_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\InterviewCopilotAI_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [InterviewCopilotAI].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [InterviewCopilotAI]
GO
/****** Object:  Table [dbo].[AIResponses]    Script Date: 19-05-2026 16:45:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AIResponses](
	[AIResponseId] [int] IDENTITY(1,1) NOT NULL,
	[InterviewQuestionId] [int] NOT NULL,
	[ResponseType] [nvarchar](100) NOT NULL,
	[GeneratedAnswer] [nvarchar](max) NOT NULL,
	[ClassificationTopic] [nvarchar](100) NULL,
	[ClassificationSubTopic] [nvarchar](150) NULL,
	[DifficultyLevel] [nvarchar](50) NULL,
	[PriorityLevel] [nvarchar](50) NULL,
	[AIModelUsed] [nvarchar](100) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_AIResponses] PRIMARY KEY CLUSTERED 
(
	[AIResponseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Companies]    Script Date: 19-05-2026 16:45:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Companies](
	[CompanyId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[CompanyName] [nvarchar](150) NOT NULL,
	[Website] [nvarchar](250) NULL,
	[Industry] [nvarchar](100) NULL,
	[Location] [nvarchar](150) NULL,
	[Notes] [nvarchar](1000) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Companies] PRIMARY KEY CLUSTERED 
(
	[CompanyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InterviewQuestions]    Script Date: 19-05-2026 16:45:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InterviewQuestions](
	[InterviewQuestionId] [int] IDENTITY(1,1) NOT NULL,
	[InterviewId] [int] NOT NULL,
	[QuestionText] [nvarchar](2000) NOT NULL,
	[Technology] [nvarchar](100) NULL,
	[DifficultyLevel] [nvarchar](50) NULL,
	[QuestionType] [nvarchar](100) NULL,
	[IsAnswered] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_InterviewQuestions] PRIMARY KEY CLUSTERED 
(
	[InterviewQuestionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Interviews]    Script Date: 19-05-2026 16:45:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Interviews](
	[InterviewId] [int] IDENTITY(1,1) NOT NULL,
	[JobApplicationId] [int] NOT NULL,
	[InterviewRound] [nvarchar](100) NOT NULL,
	[InterviewType] [nvarchar](100) NOT NULL,
	[InterviewDateTime] [datetime2](7) NOT NULL,
	[InterviewerName] [nvarchar](150) NULL,
	[MeetingLink] [nvarchar](500) NULL,
	[InterviewStatus] [nvarchar](50) NOT NULL,
	[Feedback] [nvarchar](1000) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Interviews] PRIMARY KEY CLUSTERED 
(
	[InterviewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobApplications]    Script Date: 19-05-2026 16:45:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobApplications](
	[JobApplicationId] [int] IDENTITY(1,1) NOT NULL,
	[CompanyId] [int] NOT NULL,
	[JobTitle] [nvarchar](150) NOT NULL,
	[JobDescriptionUrl] [nvarchar](500) NULL,
	[ApplicationDate] [date] NOT NULL,
	[ApplicationStatus] [nvarchar](50) NOT NULL,
	[ExpectedSalary] [decimal](10, 2) NULL,
	[Notes] [nvarchar](1000) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_JobApplications] PRIMARY KEY CLUSTERED 
(
	[JobApplicationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 19-05-2026 16:45:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[PasswordHash] [nvarchar](500) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AIResponses] ON 

INSERT [dbo].[AIResponses] ([AIResponseId], [InterviewQuestionId], [ResponseType], [GeneratedAnswer], [ClassificationTopic], [ClassificationSubTopic], [DifficultyLevel], [PriorityLevel], [AIModelUsed], [CreatedAt]) VALUES (3, 3, N'Classification', N'This is a high-level system design question. The answer should cover requirements, APIs, database design, caching, scaling, authentication, AI integration, and deployment strategy.', N'System Design', N'Scalable Architecture', N'Hard', N'High', N'Azure OpenAI GPT', CAST(N'2026-05-19T16:32:25.4153210' AS DateTime2))
SET IDENTITY_INSERT [dbo].[AIResponses] OFF
GO
SET IDENTITY_INSERT [dbo].[Companies] ON 

INSERT [dbo].[Companies] ([CompanyId], [UserId], [CompanyName], [Website], [Industry], [Location], [Notes], [CreatedAt]) VALUES (1, 1, N'Microsoft', N'https://www.microsoft.com', N'Technology', N'Hyderabad / Bengaluru / Remote', N'Target company for .NET and Azure roles', CAST(N'2026-05-19T14:49:08.0343066' AS DateTime2))
INSERT [dbo].[Companies] ([CompanyId], [UserId], [CompanyName], [Website], [Industry], [Location], [Notes], [CreatedAt]) VALUES (2, 1, N'Amazon', N'https://www.amazon.com', N'Technology / E-commerce / Cloud', N'Bengaluru / Hyderabad / Chennai', N'Possible SDE role preparation', CAST(N'2026-05-19T14:49:08.0343066' AS DateTime2))
INSERT [dbo].[Companies] ([CompanyId], [UserId], [CompanyName], [Website], [Industry], [Location], [Notes], [CreatedAt]) VALUES (3, 1, N'Infosys', N'https://www.infosys.com', N'IT Services', N'Kolkata / Bengaluru / Pune', N'Relevant for Senior .NET Developer roles', CAST(N'2026-05-19T14:49:08.0343066' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Companies] OFF
GO
SET IDENTITY_INSERT [dbo].[InterviewQuestions] ON 

INSERT [dbo].[InterviewQuestions] ([InterviewQuestionId], [InterviewId], [QuestionText], [Technology], [DifficultyLevel], [QuestionType], [IsAnswered], [CreatedAt]) VALUES (1, 1, N'What is JWT authentication in ASP.NET Core?', N'ASP.NET Core', N'Medium', N'Backend/API Security', 0, CAST(N'2026-05-19T15:48:51.1094486' AS DateTime2))
INSERT [dbo].[InterviewQuestions] ([InterviewQuestionId], [InterviewId], [QuestionText], [Technology], [DifficultyLevel], [QuestionType], [IsAnswered], [CreatedAt]) VALUES (2, 1, N'Explain dependency injection in ASP.NET Core.', N'ASP.NET Core', N'Easy', N'Backend Fundamentals', 0, CAST(N'2026-05-19T15:48:51.1094486' AS DateTime2))
INSERT [dbo].[InterviewQuestions] ([InterviewQuestionId], [InterviewId], [QuestionText], [Technology], [DifficultyLevel], [QuestionType], [IsAnswered], [CreatedAt]) VALUES (3, 2, N'How would you design a scalable interview preparation platform?', N'System Design', N'Hard', N'High Level Design', 0, CAST(N'2026-05-19T15:48:51.1094486' AS DateTime2))
SET IDENTITY_INSERT [dbo].[InterviewQuestions] OFF
GO
SET IDENTITY_INSERT [dbo].[Interviews] ON 

INSERT [dbo].[Interviews] ([InterviewId], [JobApplicationId], [InterviewRound], [InterviewType], [InterviewDateTime], [InterviewerName], [MeetingLink], [InterviewStatus], [Feedback], [CreatedAt]) VALUES (1, 1, N'Round 1', N'Technical', CAST(N'2026-05-25T10:00:00.0000000' AS DateTime2), N'Technical Panel', N'https://teams.microsoft.com/sample-meeting', N'Scheduled', N'Prepare ASP.NET Core, Web API, JWT, SQL Server', CAST(N'2026-05-19T15:34:00.2360431' AS DateTime2))
INSERT [dbo].[Interviews] ([InterviewId], [JobApplicationId], [InterviewRound], [InterviewType], [InterviewDateTime], [InterviewerName], [MeetingLink], [InterviewStatus], [Feedback], [CreatedAt]) VALUES (2, 1, N'Round 2', N'System Design', CAST(N'2026-05-28T15:00:00.0000000' AS DateTime2), N'Architecture Panel', N'https://teams.microsoft.com/system-design-round', N'Scheduled', N'Prepare HLD, LLD, caching, database design', CAST(N'2026-05-19T15:34:00.2360431' AS DateTime2))
INSERT [dbo].[Interviews] ([InterviewId], [JobApplicationId], [InterviewRound], [InterviewType], [InterviewDateTime], [InterviewerName], [MeetingLink], [InterviewStatus], [Feedback], [CreatedAt]) VALUES (3, 2, N'Round 1', N'DSA', CAST(N'2026-05-27T11:30:00.0000000' AS DateTime2), N'Amazon Interviewer', N'https://chime.aws/sample-meeting', N'Scheduled', N'Focus on arrays, hashing, trees, graphs', CAST(N'2026-05-19T15:34:00.2360431' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Interviews] OFF
GO
SET IDENTITY_INSERT [dbo].[JobApplications] ON 

INSERT [dbo].[JobApplications] ([JobApplicationId], [CompanyId], [JobTitle], [JobDescriptionUrl], [ApplicationDate], [ApplicationStatus], [ExpectedSalary], [Notes], [CreatedAt]) VALUES (1, 1, N'Senior Software Engineer - .NET', N'https://careers.microsoft.com', CAST(N'2026-05-19' AS Date), N'Applied', CAST(2200000.00 AS Decimal(10, 2)), N'Target role involving .NET, Azure, and backend APIs', CAST(N'2026-05-19T15:09:44.3154249' AS DateTime2))
INSERT [dbo].[JobApplications] ([JobApplicationId], [CompanyId], [JobTitle], [JobDescriptionUrl], [ApplicationDate], [ApplicationStatus], [ExpectedSalary], [Notes], [CreatedAt]) VALUES (2, 2, N'Software Development Engineer II', N'https://www.amazon.jobs', CAST(N'2026-05-19' AS Date), N'Preparing', CAST(2500000.00 AS Decimal(10, 2)), N'Requires strong DSA and system design preparation', CAST(N'2026-05-19T15:09:44.3154249' AS DateTime2))
INSERT [dbo].[JobApplications] ([JobApplicationId], [CompanyId], [JobTitle], [JobDescriptionUrl], [ApplicationDate], [ApplicationStatus], [ExpectedSalary], [Notes], [CreatedAt]) VALUES (3, 3, N'Technology Lead - .NET', N'https://www.infosys.com/careers', CAST(N'2026-05-19' AS Date), N'Interview Scheduled', CAST(1800000.00 AS Decimal(10, 2)), N'Relevant for senior .NET and API development role', CAST(N'2026-05-19T15:09:44.3154249' AS DateTime2))
SET IDENTITY_INSERT [dbo].[JobApplications] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [FullName], [Email], [PasswordHash], [Role], [CreatedAt]) VALUES (1, N'Sabyasachi Gupta', N'sabyasachi@example.com', N'DummyHashedPassword123', N'User', CAST(N'2026-05-19T13:09:42.4845547' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Users_Email]    Script Date: 19-05-2026 16:45:45 ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ_Users_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AIResponses] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Companies] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[InterviewQuestions] ADD  DEFAULT ((0)) FOR [IsAnswered]
GO
ALTER TABLE [dbo].[InterviewQuestions] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Interviews] ADD  DEFAULT ('Scheduled') FOR [InterviewStatus]
GO
ALTER TABLE [dbo].[Interviews] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[JobApplications] ADD  DEFAULT ('Applied') FOR [ApplicationStatus]
GO
ALTER TABLE [dbo].[JobApplications] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('User') FOR [Role]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AIResponses]  WITH CHECK ADD  CONSTRAINT [FK_AIResponses_InterviewQuestions] FOREIGN KEY([InterviewQuestionId])
REFERENCES [dbo].[InterviewQuestions] ([InterviewQuestionId])
GO
ALTER TABLE [dbo].[AIResponses] CHECK CONSTRAINT [FK_AIResponses_InterviewQuestions]
GO
ALTER TABLE [dbo].[Companies]  WITH CHECK ADD  CONSTRAINT [FK_Companies_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Companies] CHECK CONSTRAINT [FK_Companies_Users]
GO
ALTER TABLE [dbo].[InterviewQuestions]  WITH CHECK ADD  CONSTRAINT [FK_InterviewQuestions_Interviews] FOREIGN KEY([InterviewId])
REFERENCES [dbo].[Interviews] ([InterviewId])
GO
ALTER TABLE [dbo].[InterviewQuestions] CHECK CONSTRAINT [FK_InterviewQuestions_Interviews]
GO
ALTER TABLE [dbo].[Interviews]  WITH CHECK ADD  CONSTRAINT [FK_Interviews_JobApplications] FOREIGN KEY([JobApplicationId])
REFERENCES [dbo].[JobApplications] ([JobApplicationId])
GO
ALTER TABLE [dbo].[Interviews] CHECK CONSTRAINT [FK_Interviews_JobApplications]
GO
ALTER TABLE [dbo].[JobApplications]  WITH CHECK ADD  CONSTRAINT [FK_JobApplications_Companies] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Companies] ([CompanyId])
GO
ALTER TABLE [dbo].[JobApplications] CHECK CONSTRAINT [FK_JobApplications_Companies]
GO
USE [master]
GO
